<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Secure Witness</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>
</head>
<body>
<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Secure Witness</a>

                <div class="right hide-on-med-and-down">
                    <a href="signup.html" class="btn-flat">Sign Up</a>
                </div>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<main>
<div class="row center">
    <img class="responsive-img" src="http://placehold.it/1600x400">
</div>
<div class="container">
    <div class="row">
        <h4><a name="about">About</a></h4>

        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum."</p>
    </div>
    <div class="row">
        <div class="col s6">
            <h4>Sign Up</h4>

            <div class="input-field">
                <input id="input_username" type="text" name="username">
                <label for="input_username">Username</label>
            </div>
            <div class="input-field">
                <input id="input_password" type="text" name="password">
                <label for="input_password">Password</label>
            </div>
            <div class="input-field">
                <input id="verify_password" type="text" name="verify_password">
                <label for="verify_password">Verify Password</label>
            </div>
            <div class="btn right">Sign Up</div>
        </div>
        <div class="col s6">
            <h4>Log In</h4>

            <div class="input-field">
                <input id="input_username" type="text" name="username">
                <label for="input_username">Email</label>
            </div>
            <div class="input-field">
                <input id="input_password" type="text" name="password">
                <label for="input_password">Password</label>
            </div>
            <div class="btn right">Log In</div>
        </div>
    </div>
</div>
</main>
<footer>

</footer>
</body>
</html>