{% extends 'SecureWitness/loggedinbase.html' %}
{% block main %}
<div class="container">
    <div class="section">
        <div class="row">
        {% if report.private %}
            <div class="col offset-l1 l10 s12 blue-grey white-text z-depth-1">
        {% else %}
            <div class="col offset-l1 l10 s12 white z-depth-1">
        {% endif %}
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col s10">
                            <h3>{{ report.title }}</h3>
                            <h5>{{ report.author }}</h5>
                            {% if report.report_date %}
                                <h6>{{ report.report_date }}</h6>
                            {% else %}
                                <h6>Unkown date of incident</h6>
                            {% endif %}
                            {% if report.location %}
                                <h6>{{ report.location }}</h6>
                            {% else %}
                                <h6>Unknown Location</h6>
                            {% endif %}
                        </div>
                        <div class="col s2 right" style="font-weight: 100; margin-top: 10px;">{{ report.timestamp }}</div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <h5><strong>About Report</strong></h5>
                        {{ report.short_description }}
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <h5><strong>Description</strong></h5>
                        {{ report.long_description }}
                    </div>
                    <div class="row" style="font-weight: 300;">
                        Keywords: {{ report.keywords }}
                    </div>
                    {% if report.owner.id == user.id %}
                        <div class="row">
                            <a class="btn" href="{% url 'edit_report_page' report.id %}">Edit</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}